.filter-div
	display: flex
	justify-content: center

.filter
	width: 60vw
	font-size: 14px

.table-div
	margin: 1vw
	display: flex
	justify-content: center

.mat-elevation-z12
	max-width: 90vw
	background-color: #231f20
	th, td
		color: #ffffff

$colWidth: 1vw
.mat-column-race
	max-width: 3vw
.mat-column-level
	max-width: $colWidth
.mat-column-name
	max-width: 2vw
.mat-column-inherits
	max-width: $colWidth
.mat-column-St
	max-width: $colWidth
.mat-column-Ma
	max-width: $colWidth
.mat-column-En
	max-width: $colWidth
.mat-column-Ag
	max-width: $colWidth
.mat-column-Lu
	max-width: $colWidth
.mat-column-Phys
	max-width: $colWidth
.mat-column-Gun
	max-width: $colWidth
.mat-column-Fire
	max-width: $colWidth
.mat-column-Ice
	max-width: $colWidth
.mat-column-Elec
	max-width: $colWidth
.mat-column-Wind
	max-width: $colWidth
.mat-column-Psy
	max-width: $colWidth
.mat-column-Nuke
	max-width: $colWidth
.mat-column-Bless
	max-width: $colWidth

.icon
	max-width: 1vw
a:visited
	color: #ff0000

a:link
	color: #ffffff
