<div class="filter-div">
	<mat-form-field appearance="standard">
		<mat-label>Filter</mat-label>
		<input
			matInput
			(keyup)="applyFilter($event)"
			placeholder="Ex. Mara"
			#input
		/>
	</mat-form-field>
</div>
<div class="table-div">
	<table
		mat-table
		[dataSource]="demonSource"
		class="mat-elevation-z12"
		matSort
	>
		<ng-container matColumnDef="race">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Race</th>
			<td mat-cell *matCellDef="let demon">{{ demon.race }}</td>
		</ng-container>

		<ng-container matColumnDef="lvl">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Level</th>
			<td mat-cell *matCellDef="let demon">{{ demon.lvl }}</td>
		</ng-container>

		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
			<td routerLinkActive="active" mat-cell *matCellDef="let demon">
				<a routerLink="{{ demon.name }}">{{ demon.name }}</a>
			</td>
		</ng-container>

		<ng-container *ngIf="config.inheritCols">
			<ng-container matColumnDef="inherits">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>
					Inherits
				</th>
				<td mat-cell *matCellDef="let demon">
					{{ demon.inherits }}
				</td>
			</ng-container>
		</ng-container>

		<ng-container *ngFor="let stat of config.statCols; let i = index">
			<ng-container matColumnDef="{{ stat }}">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>
					{{ stat }}
				</th>
				<td mat-cell *matCellDef="let demon">{{ demon.stats[i] }}</td>
			</ng-container>
		</ng-container>
		<ng-container
			*ngFor="let resistance of config.resistanceCols; let i = index"
		>
			<ng-container matColumnDef="{{ resistance }}">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>
					{{ resistance }}
				</th>
				<td mat-cell *matCellDef="let demon">
					<ng-container [ngSwitch]="demon.resistances.split('')[i]">
						<p *ngSwitchCase="'d'">absorb</p>
						<p *ngSwitchCase="'w'">weak</p>
						<p *ngSwitchCase="'n'">null</p>
						<p *ngSwitchCase="'s'">resist</p>
						<p *ngSwitchCase="'r'">repel</p>
						<p *ngSwitchDefault></p>
					</ng-container>
				</td>
			</ng-container>
		</ng-container>

		<tr
			mat-header-row
			*matHeaderRowDef="displayedColumns; sticky: true"
		></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
</div>
