@use 'smt-tools.scss';

.filter-div {
	@include smt-tools.angular-table-filter;
}
.table-div {
	@include smt-tools.angular-table;
	width: 0;
}

.mat-column-race {
	text-align: center;
	padding-right: 0px;
}
.mat-column-level {
	text-align: center;
	border-right: 1px solid white;
	padding-left: 0px;
}
.mat-column-name {
	border-right: 1px solid white;
}
.mat-column-inherits {
	justify-content: center;
	justify-items: center;
	text-align: center;
}

.icon {
	max-width: 1vw;
}
a:visited {
	color: #ff0000;
}

a:link {
	color: #ffffff;
}
