<!-- <div class="table-div">
	<table mat-table [dataSource]="demons | keyvalue" class="mat-elevation-z12">
		<ng-container matColumnDef="race">
			<th mat-header-cell *matHeaderCellDef>Race</th>
			<td mat-cell *matCellDef="let demon">{{ demon.value.race }}</td>
		</ng-container>

		<ng-container matColumnDef="level">
			<th mat-header-cell *matHeaderCellDef>Level</th>
			<td mat-cell *matCellDef="let demon">{{ demon.value.lvl }}</td>
		</ng-container>

		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef>Name</th>
			<td mat-cell *matCellDef="let demon">{{ demon.key }}</td>
		</ng-container>

		<ng-container *ngIf="config.inheritTypes">
			<ng-container matColumnDef="inherits">
				<th mat-header-cell *matHeaderCellDef>Inherits</th>
				<td mat-cell *matCellDef="let demon">
					{{ demon.value.inherits }}
				</td>
			</ng-container>
		</ng-container>

		<ng-container *ngFor="let stat of config.statCols; let i=index">
			<ng-container matColumnDef="{{ stat }}">
				<th mat-header-cell *matHeaderCellDef>{{ stat }}</th>
				<td mat-cell *matCellDef="let demon">demon.value.</td>
			</ng-container>
		</ng-container>

		<tr
			mat-header-row
			*matHeaderRowDef="displayedColumns; sticky: true"
		></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
</div> -->
<table datatable [dtOptions]="dtOptions" class="row-border hover">
	<thead>
		<tr>
			<th *ngFor="let column of secondHeader">
				{{ column }}
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let demon of demons | keyvalue">
			<!-- Demon -->
			<td>{{ demon.value.race }}</td>
			<td>{{ demon.value.lvl }}</td>
			<td routerLinkActive="active">
				<a routerLink="{{ demon.key }}">
					{{ demon.key }}
				</a>
			</td>
			<td *ngIf="demon.value.inherits">
				{{ demon.value.inherits }}
			</td>
			<!-- Stats -->
			<td *ngFor="let stat of demon.value.stats">
				{{ stat }}
			</td>
			<!-- Resistances -->
			<ng-container *ngIf="demon.value.resistances">
				<td *ngFor="let resist of demon.value.resistances.split('')">
					<ng-container [ngSwitch]="resist">
						<p *ngSwitchCase="'d'">absorb</p>
						<p *ngSwitchCase="'w'">weak</p>
						<p *ngSwitchCase="'n'">null</p>
						<p *ngSwitchCase="'s'">resist</p>
						<p *ngSwitchCase="'r'">repel</p>
						<p *ngSwitchDefault></p>
					</ng-container>
				</td>
			</ng-container>
		</tr>
	</tbody>
</table>
