@font-face {
	font-family: 'Franklin Gothic';
	src:
		url(../fonts/franklin-gothic.woff) format('woff'),
		url(../fonts/franklin-gothic.woff2) format('woff2');
}

@font-face {
	font-family: 'p5-hatty';
	src:
		url(../fonts/p5hatty.woff) format('woff'),
		url(../fonts/p5hatty.woff2) format('woff2');
}

@font-face {
	font-family: 'optima-nova-black';
	src:
		url(../fonts/optima-nova-black.woff) format('woff'),
		url(../fonts/optima-nova-black.woff2) format('woff2');
}

@font-face {
	font-family: 'helvetica-now-display';
	src:
		url(../fonts/HelveticaNowDisplay-Regular.woff) format('woff'),
		url(../fonts/HelveticaNowDisplay-Regular.woff2) format('woff2');
}
