@font-face {
	font-family: 'Franklin Gothic';
	src:
		url(../fonts/franklin-gothic.woff) format('woff'),
		url(../fonts/franklin-gothic.woff2) format('woff2');
}

@font-face {
	font-family: 'p5-hatty';
	src:
		url(../fonts/p5hatty.woff) format('woff'),
		url(../fonts/p5hatty.woff2) format('woff2');
}
