@use '@angular/material' as mat;

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '_variables.scss';
@import '_mixins.scss';
@import '_themes.scss';

@include mat.core();

$p5-primary: mat.define-palette($p5-primary-palette, 500);
$p5-accent: mat.define-palette($p5-accent-palette, A200, A100, A400);

@font-face {
	font-family: 'p5-text-font';
	src: url('~/src/assets/fonts/p5hatty-webfont.woff') format('woff'),
		url('~/src/assets/fonts/p5hatty-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'p5-header-font';
	src: url('~/src/assets/fonts/Expose-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
$p5-typograpghy: mat.define-typography-config(
	$font-family: 'p5-text-font',
	$headline-4:
		mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
	$headline-3:
		mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
	$headline-2:
		mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
	$headline-1: mat.define-typography-level(34px, 40px, 400),
	$headline-5: mat.define-typography-level(24px, 32px, 400),
	$body-1:
		mat.define-typography-level(25px, 48px, 400, $letter-spacing: -0.005em),
	$body-2:
		mat.define-typography-level(20px, 48px, 400, $letter-spacing: -0.005em),
	$caption:
		mat.define-typography-level(25px, 48px, 400, $letter-spacing: -0.005em),
);
$p5-theme: mat.define-dark-theme(
	(
		color: (
			primary: $p5-primary,
			accent: $p5-accent,
		),
		typography: $p5-typograpghy,
	)
);

@include mat.core-theme($p5-theme);
@include mat.all-component-themes($p5-theme);

*,
html,
body {
	margin: 0;
	padding: 0;
	color: #ffffff;
}
body {
	background-image: url('~src/assets/img/backgrounds/p5-background.png');
}
