<!-- bar for navigating between different tools specific to a game -->
<table id="navRow" class=game-wrapper-table>
	<thead>
		<tr class=game-wrapper-row>
			<!-- Persona/Demon Link -->
			<th class=game-wrapper-entry routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
				<a routerLink="{{ abbrv }}/{{ game.mainList }}s" [ngStyle]="{'color':game.colors.text}">
					{{ game.mainList.charAt(0).toUpperCase() + game.mainList.slice(1) }} List
				</a>
			</th>
			<!-- Skill Link -->
			<th class=game-wrapper-entry routerLinkActive="active">
				<a routerLink="{{ abbrv }}/skills" [ngStyle]="{'color':game.colors.text}">
					Skill List
				</a>
			</th>
			<!-- Fusion Chart Link -->
			<th class=game-wrapper-entry routerLinkActive="active">
				<a routerLink="{{ abbrv }}/fusion-chart" [ngStyle]="{'color':game.colors.text}">
					Fusion Chart
				</a>
			</th>
			<!-- All other links except settings -->
			<th class=game-wrapper-entry *ngFor="let link of game.otherLinks" routerLinkActive="active">
				<a routerLink="{{ abbrv }}/{{ link.url }}" [ngStyle]="{'color':game.colors.text}">
					{{link.title}}
				</a>
			</th>
			<th class=game-wrapper-entry *ngIf="game.hasSettings" routerLinkActive="active">
				<a routerLink="{{ abbrv }}/fusion-settings" [ngStyle]="{'color':game.colors.text}">
					Fusion Settings
				</a>
			</th>
		</tr>
	</thead>
</table>
<router-outlet></router-outlet>