<!-- bar for navigating between different tools specific to a game -->
<table id="navRow" class=game-tools-table>
	<thead>
		<tr class=game-tools-row>
			<!-- Persona/Demon Link -->
			<th class=game-tools-entry routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
				<a routerLink="{{ mainList }}s" [ngStyle]="{'color':fontColor}">
					{{ mainList.charAt(0).toUpperCase() + mainList.slice(1) }} List
				</a>
			</th>
			<!-- Skill Link -->
			<th class=game-tools-entry routerLinkActive="active">
				<a routerLink="skills" [ngStyle]="{'color':fontColor}">
					Skill List
				</a>
			</th>
			<!-- Fusion Chart Link -->
			<th class=game-tools-entry routerLinkActive="active">
				<a routerLink="chart" [ngStyle]="{'color':fontColor}">
					Fusion Chart
				</a>
			</th>
			<!-- All other links except settings -->
			<th class=game-tools-entry *ngFor="let link of otherLinks" routerLinkActive="active">
				<a routerLink="{{link.url}}" [ngStyle]="{'color':fontColor}">
					{{link.title}}
				</a>
			</th>
			<th class=game-tools-entry *ngIf="hasSettings" routerLinkActive="active">
				<a routerLink="settings" [ngStyle]="{'color':fontColor}">
					Fusion Settings
				</a>
			</th>
		</tr>
	</thead>
</table>
<router-outlet></router-outlet>