<ul class="logo-tab nav-tabs" id="myTab" role="tablist">
	<li class="nav-item">
		<a class="nav-link" id="smt3hd-tab" data-toggle="tab" href="#smt3hd" role="tab"
			aria-controls="SMT3 Nocture HD Remaster" aria-selected="true">
			<div>
				<img class="logo-link" src="assets/img/games/smt3hd.png">
			</div>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active" id="p5r-tab" data-toggle="tab" href="#p5r" role="tab" aria-controls="Persona 5 Royal"
			aria-selected="false">
			<img class="logo-link" src="assets/img/games/p5r.png">
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active" id="pq2-tab" data-toggle="tab" href="#pq2" role="tab"
			aria-controls="Persona Q2: New Cinema Labryrinth" aria-selected="false">
			<img class="logo-link" src="assets/img/games/pq2.png">
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active" id="smt4-tab" data-toggle="tab" href="#smt4" role="tab" aria-controls="SMT IV"
			aria-selected="true"><img class="logo-link" src="assets/img/games/smt4.png"></a>
	</li>
	<li class="nav-item">
		<a class="nav-link active" id="smtsjr-tab" data-toggle="tab" href="#smtsjr" role="tab"
			aria-controls="SMT Strange Journey Redux" aria-selected="false">
			<img class="logo-link" src="assets/img/games/smtsjr.png">
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active" id="p4g-tab" data-toggle="tab" href="#p4g" role="tab" aria-controls="Persona 4 Golden"
			aria-selected="false">
			<img class="logo-link" src="assets/img/games/p4g.png">
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active" id="p3p-tab" data-toggle="tab" href="#p3p" role="tab" aria-controls="Persona 3 Portable"
			aria-selected="true">
			<img class="logo-link" src="assets/img/games/p3p.png">
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active" id="other-games-tab" data-toggle="tab" href="#other-games" role="tab"
			aria-controls="Other Games" aria-selected="false">Other Games</a>
	</li>
</ul>
<div class="tab-content" id="myTabContent">
	<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
	<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
	<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>