:host ::ng-deep p {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 16pt;
}

:host ::ng-deep .race-cell {
	align-items: center;
	align-content: center;
	padding-left: 0px;
	margin-left: 0px;
	p {
		color: black;
		letter-spacing: -1px;
		font-weight: 900;

		transform: scale(0.7, 1.5);
		border-radius: 3px;
		background: white;
		padding: 2px;
		margin: 0;
	}
}

:host ::ng-deep .level-cell {
	padding-top: 1%;
	p {
		font-weight: 900;
		color: white;
	}
}

:host ::ng-deep .name-cell {
	text-align: left;
	p {
		font-weight: 500;
		color: white;
	}
}

:host ::ng-deep .header-cell {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 16pt;
	font-weight: 900;
	font-style: italic;
}

:host ::ng-deep table {
	background-color: black;
	border-radius: 3px;
	border: 3px solid white;
}
