<div class="table-div">
	<table
		mat-table
		[dataSource]="raceSource"
		class="mat-elevation-z12"
		matSort
	>
		<!-- Header Row -->
		<ng-container matColumnDef="raceA">
			<th mat-header-cell class="header-cell" *matHeaderCellDef>Race</th>
			<td mat-cell *matCellDef="let race; let i = index">
				<p>{{ races[i] }}</p>
			</td>
		</ng-container>

		@for (result of races; track $index) {
			<ng-container matColumnDef="{{ result }}">
				<!-- Header Column -->
				<th mat-header-cell class="header-cell" *matHeaderCellDef>
					{{ result }}
				</th>

				<!-- Cells -->
				<td mat-cell *matCellDef="let results">
					<!-- Shorten the race name, if applicable -->
					@if (
						results[races.indexOf(result)] == "-" ||
						results[races.indexOf(result)] === undefined
					) {
						<p>{{ results[races.indexOf(result)] }}</p>
					} @else {
						<p>{{ results[races.indexOf(result)] | shorten }}</p>
					}
				</td>
			</ng-container>
		}

		<!-- Anuglar Table Initializors -->
		<tr
			mat-header-row
			*matHeaderRowDef="displayedColumns; sticky: true"
		></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
</div>
