<table>
    <thead>
        <tr>
            <td></td>
            <td *ngFor='let race of config.fusionTable.races'>
                {{ race }}
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let row of config.fusionTable.table let i=index'>
            <td>{{ config.fusionTable.races[i] }}</td>
            <td *ngFor='let cell of row'>
                <ng-container *ngIf='cell == "-" || null ; else shorter'>
                    {{ cell }}
                </ng-container>
                <ng-template #shorter>
                    {{ cell | shorten }}
                </ng-template>
            </td>
        </tr>
    </tbody>
</table>