@use 'smt-tools.scss';

.filter-div {
	@include smt-tools.angular-table-filter;
}
.table-div {
	@include smt-tools.angular-table;
}
.expansion-panel {
	@include smt-tools.expansion-panel;
}

.wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.expansion-panel {
	min-width: 300px;
	max-width: 800px;
}
