<mat-sidenav-container class="sidenav-container">
	<mat-sidenav
		#sidenav
		mode="side"
		[(opened)]="opened"
		(opened)="events.push('open!')"
		(closed)="events.push('close')"
	>
		<!-- content that will be in the sidenav -->
		<p class="change">Sidenav Content</p>
	</mat-sidenav>

	<mat-sidenav-content>
		<!-- main content -->
		<button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button>
		<p class="change">Main Content</p>
		<router-outlet></router-outlet>
		<app-footer></app-footer>
	</mat-sidenav-content>
</mat-sidenav-container>
