<div>
    <button class="btn" (click)="test(0)"></button>
</div>
<label for="persona-typeahead"> Persona </label>
<input id="typeahead-persona" type="text" class="form-control"
    [(ngModel)]="demon" [ngbTypeahead]="searchDemons" />
<ng-container *ngFor='let elem of [0,1,2,3,4,5,6,7]'>
    <label for="skill-typeahead"> Skill {{ elem + 1 }} </label>
    <input id="typeahead-{{ elem }}" type="text" class="form-control"
        [(ngModel)]="inputSkills[elem]" [ngbTypeahead]="searchSkills" />
</ng-container>