.example-label {
	display: table-cell;
	font-size: 14px;
	margin-left: 8px;
	min-width: 120px;
}

.demon-form,
.demon-form-field {
	margin: auto;
	width: 300px;
}

.skills {
	column-count: 2;
	padding: 20px;
	column-gap: 20px;
}

.buttons {
	padding: 20px;
	column-gap: 20px;
	align-content: center;
	justify-content: center;
	text-align: center;
}
.buttons .mat-button-base {
	margin: 8px 8px 8px 0;
}

.accordion {
	margin-left: 8px;
	width: 80%;
	margin: auto;
}
