.demon-form,
.demon-form-field {
	margin: auto;
	width: 300px;
}

.skills {
	column-count: 2;
	padding: 20px;
	column-gap: 20px;
}

.buttons {
	padding: 20px;
	column-gap: 20px;
	text-align: center;
}
.buttons .mat-button-base {
	margin: 8px 8px 8px 0;
}

.accordion {
	text-align: center;
	width: 90%;
	margin: auto;
}
