<table appPositionSticky>
	<thead #stickyHeader class="app-demon-list-header sticky-header"
	[isPersona]="isPersona"
	[isEnemy]="isEnemy"
	[hasInherits]="inheritOrder"
	[statHeaders]="statHeaders"
	[resistHeaders]="resistHeaders"
	[affinityHeaders]="affinityHeaders"
	[sortFunIndex]="sortFunIndex"
	(sortFunIndexChanged)="sortFunIndex = $event">
	</thead>
	<tbody>
		<tr *ngFor="let data of rowData"
			class="app-demon-list-row"
			[isEnemy]="isEnemy"
			[hasInherits]="inheritOrder"
			[hasAffinity]="affinityHeaders"
			[ngClass]="{
				special: data.fusion === 'special',
				exception: data.fusion !== 'special' && data.fusion !== 'normal'
			}"
			[data]="data">
		</tr>
	</tbody>
</table>