@use '@angular/material' as mat;

.card {
  display: flex;
  justify-content: center;
  background: #c10b0a;
  margin-bottom: 2vh;
  @include mat.elevation(12);
  border-radius: 0;
}

.p5-logo {
  height: 15vh;
  margin: 2vh;
}
