<!-- Directions Display -->
<div class="directions-div">
	@for (step of build.specialFusions; track $index) {
		<div ngPreserveWhitespaces>
			<!-- Step Number -->
			<span class="step-number"> Step {{ $index + 1 }}: </span>
			&ngsp;
			<!-- Fusion Direction -->
			@if (compendium.isSpecial(step.result)) {
				Use special fusion with
			} @else {
				Fuse
			}
			<!-- loop through sources in step -->
			@for (source of step.sources; track $index; let last = $last) {
				@if (last) {
					and
					<a
						routerLink="{{ demonEntryPrefix }}{{ source }}"
						class="demon-link"
					>
						{{ source }}</a
					>
				} @else {
					<a
						routerLink="{{ demonEntryPrefix }}{{ source }}"
						class="demon-link"
					>
						{{ source }}</a
					>
				}
			}
			to make
			<a
				routerLink="{{ demonEntryPrefix }}{{ step.result }}"
				class="demon-link"
			>
				{{ step.result }}</a
			>. Have {{ step.result }} inherit
			<!-- loop through inheritted skills in step -->
			@if (build.specialSkills[$index].length == 1) {
				<span class="result-emphasis">
					{{ build.specialSkills[$index][0] }} </span
				>.
			} @else {
				@for (
					skill of build.specialSkills[$index];
					track $index;
					let last = $last
				) {
					@if (last) {
						and,
						<span class="result-emphasis"> {{ skill }} </span>.
					} @else {
						<span class="result-emphasis">
							{{ skill }}
						</span>
						,
					}
				}
			}
		</div>
	}
	<!-- Loop through steps -->
	@for (step of build.fusions; track $index) {
		<div ngPreserveWhitespaces>
			<!-- Step Number -->
			<span class="step-number"> Step {{ $index + 1 }}: </span>
			&ngsp;
			<!-- Fusion Direction -->
			@if (compendium.isSpecial(step.result)) {
				Use special fusion with
			} @else {
				Fuse
			}
			<!-- loop through sources in step -->
			@for (source of step.sources; track $index; let last = $last) {
				@if (last) {
					and
					<a
						routerLink="{{ demonEntryPrefix }}{{ source }}"
						class="demon-link"
					>
						{{ source }}</a
					>
				} @else {
					<a
						routerLink="{{ demonEntryPrefix }}{{ source }}"
						class="demon-link"
					>
						{{ source }}</a
					>
				}
			}
			to make
			<a
				routerLink="{{ demonEntryPrefix }}{{ step.result }}"
				class="demon-link"
			>
				{{ step.result }}</a
			>. Have {{ step.result }} inherit
			<!-- loop through inheritted skills in step -->
			@if (build.inherittedSkills[$index].length == 1) {
				<span class="result-emphasis">
					{{ build.inherittedSkills[$index][0] }} </span
				>.
			} @else {
				@for (
					skill of build.inherittedSkills[$index];
					track $index;
					let last = $last
				) {
					@if (last) {
						and,
						<span class="result-emphasis"> {{ skill }} </span>.
					} @else {
						<span class="result-emphasis">
							{{ skill }}
						</span>
						,
					}
				}
			}
		</div>
	}
	<div class="final-step-div">
		<a
			routerLink="{{ demonEntryPrefix }}{{ build.result }}}"
			class="demon-link"
			>{{ build.result }}</a
		>
		will learn &ngsp;
		@if (build.innates.length == 1) {
			<span class="direction">{{ build.innates[0] }}</span>
			&ngsp;
		} @else {
			@for (skill of build.innates; track $index) {
				@if ($index == build.innates.length - 1) {
					<span> and {{ skill }} </span>
					&ngsp;
				} @else {
					<span>{{ skill }},</span>&ngsp;
				}
			}
		}
		<span class="direction">on their own.</span>
	</div>
</div>
