@import '~src/assets/style/variables.scss';
@import '~src/assets/style/mixins.scss';

* {
	text-decoration: none;
	font-size: 1.15em;
}

.game-wrapper-table {
	display: flex;
	justify-content: space-around;
}

.game-wrapper-entry {
	padding: 0px 1.2em;
}
