<div class="builder-div">
	<!-- User Entry Form -->
	<div class="form-div">
		<!-- Demon and Level -->
		<mat-form-field class="name-form-field" appearance="fill">
			<mat-label>Demon</mat-label>
			<input
				type="text"
				placeholder="Mara"
				aria-label="Demon Name"
				matInput
				[formControl]="demonControl"
				[matAutocomplete]="auto"
			/>
			<mat-autocomplete #auto="matAutocomplete">
				@for (demon of filteredDemons | async; track $index) {
					<mat-option [value]="demon">
						{{ demon }}
					</mat-option>
				}
			</mat-autocomplete>
		</mat-form-field>
		<mat-form-field class="level-form-field" appearance="fill">
			<mat-label>Max Level</mat-label>
			<input type="number" matInput [formControl]="levelControl" />
		</mat-form-field>
		<!-- Skills -->
		<div class="skills-div" layout="column">
			@for (skillControl of skillControls; track $index) {
				<form>
					<mat-form-field class="skill-form-field" appearance="fill">
						<mat-label>Skill {{ $index + 1 }}</mat-label>
						<input
							type="text"
							placeholder="Maragi"
							aria-label="Skill"
							matInput
							[formControl]="skillControl"
							[matAutocomplete]="auto"
						/>
						<mat-autocomplete #auto="matAutocomplete">
							@for (
								skill of filteredSkills[$index] | async;
								track $index
							) {
								<mat-option [value]="skill">
									{{ skill }}
								</mat-option>
							}
						</mat-autocomplete>
					</mat-form-field>
				</form>
			}
		</div>
		<!-- Settings -->
		<div class="settings-div">
			<form>
				<mat-form-field class="recur-form-field" appearance="fill">
					<mat-label>Recursive Depth</mat-label>
					<input
						type="text"
						placeholder="0"
						aria-label="0"
						matInput
						[formControl]="recurDepthControl"
					/>
				</mat-form-field>
			</form>
		</div>
		<!-- Buttons -->
		<div class="buttons-div">
			<button
				(click)="startWebWorker()"
				class="builder-button"
				color="primary"
				mat-raised-button
			>
				<p>Calculate</p>
			</button>
			<button
				(click)="stopWebWorker()"
				class="builder-button"
				color="primary"
				mat-raised-button
			>
				<p>Stop</p>
			</button>
			<button
				(click)="resetDemonBuilder()"
				class="builder-button"
				color="primary"
				mat-raised-button
			>
				<p>Clear</p>
			</button>
		</div>
		<div class="test">
			<button (click)="test()" color="primary" mat-raised-button>
				Test
			</button>
		</div>
	</div>
	<!-- Results Table -->
	<div class="results-div">
		<!-- Loading -->
		@if (calculating) {
			@if (loadingIcon === "default") {
				<mat-spinner></mat-spinner>
			} @else {
				<img src="{{ loadingIcon }}" />
			}
		} @else {
			@if (userError) {
				<p>{{ userError }}</p>
			} @else {
				@if (buildsSource.data.length == 0) {
					<p>Create a demon with your desired skills on the left.</p>
				}
			}
		}
		@if (buildsSource.data.length > 0) {
			<p>{{ buildsSource.data.length }} successful recipes found.</p>
		}
		@if (fuseCount > 0) {
			<p>{{ fuseCount }} fusion attempted...</p>
			@if (calculating) {
				<p>
					You can stop whenever you want and view the current results.
				</p>
			}
		}
		<!-- Recipe Display -->
		@if (buildsSource.data.length > 0) {
			@if (!calculating) {
				<p>Ran for {{ deltaTime }} seconds</p>
			}
			<table
				mat-table
				[dataSource]="buildsSource"
				multiTemplateDataRows
				class="mat-elevation-z12"
				matSort
			>
				<ng-container matColumnDef="result">
					<th
						mat-header-cell
						class="header-cell"
						clas="header-cell"
						*matHeaderCellDef
						mat-sort-header
					>
						Result
					</th>
					<td mat-cell *matCellDef="let build">
						<p>{{ build.result }}</p>
					</td>
				</ng-container>
				<ng-container matColumnDef="cost">
					<th
						mat-header-cell
						class="header-cell"
						clas="header-cell"
						*matHeaderCellDef
						mat-sort-header
					>
						Cost
					</th>

					<td mat-cell *matCellDef="let build">
						<p>{{ build.cost }}</p>
					</td>
				</ng-container>
				<ng-container matColumnDef="level">
					<th
						mat-header-cell
						class="header-cell"
						clas="header-cell"
						*matHeaderCellDef
						mat-sort-header
					>
						Level Required
					</th>
					<td mat-cell *matCellDef="let build">
						<p>{{ build.level }}</p>
					</td>
				</ng-container>
				<ng-container matColumnDef="fusions">
					<th
						mat-header-cell
						class="header-cell"
						clas="header-cell"
						*matHeaderCellDef
						mat-sort-header
					>
						Steps
					</th>
					<td mat-cell *matCellDef="let build">
						<p>{{ build.fusions.length }}</p>
					</td>
				</ng-container>
				<ng-container matColumnDef="expandedDetail">
					<td
						mat-cell
						*matCellDef="let build"
						[attr.colspan]="columnsToDisplay.length"
					>
						<div
							class="recipe-detail"
							[@detailExpand]="
								build == expandedRecipe
									? 'expanded'
									: 'collapsed'
							"
						>
							<div class="directions">
								@for (
									direction of build.directions;
									track $index
								) {
									<p>{{ direction }} <br /></p>
								}
							</div>
						</div>
					</td>
				</ng-container>
				<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
				<tr
					mat-row
					*matRowDef="let build; columns: columnsToDisplay"
					class="recipe-row"
					[class.recipe-row]="expandedRecipe === build"
					(click)="
						expandedRecipe = expandedRecipe === build ? null : build
					"
				></tr>
				<tr
					mat-row
					*matRowDef="let row; columns: ['expandedDetail']"
					class="recipe-detail-row"
				></tr>
			</table>
		}
	</div>
</div>
