<table>
	<thead>
		<tr>
			<th colSpan="8">Element Table</th>
		</tr>
	</thead>
	<thead>
		<tr>
			@if (this.tableConfig.elementTable) {
				@for (
					elem of this.tableConfig.elementTable?.elems;
					track $index
				) {
					{{ elem }}
				}
			}
		</tr>
	</thead>
	<tbody>
		@if (this.tableConfig.elementTable) {
			@for (race of this.tableConfig.elementTable?.races; track $index) {
				<th>
					{{ race }}
				</th>
				@for (
					elem of this.tableConfig.elementTable!.table[$index];
					track $index
				) {
					{{ elem }}
				}
			}
		}
	</tbody>
</table>
