<div class="table-div">
	<table
		mat-table
		[dataSource]="elemsSource"
		class="mat-elevation-z12"
		matSort
	>
		<!-- Header Row, Elemental Names -->
		<ng-container matColumnDef="elementals">
			<th mat-header-cell *matHeaderCellDef>Race</th>
			<td mat-cell *matCellDef="let race; let i = index">
				{{ races[i] }}
			</td>
		</ng-container>

		<!-- Header Column, Race Names -->
		@for (result of races; track $index) {
			<ng-container matColumnDef="{{ result }}">
				<th mat-header-cell *matHeaderCellDef>
					{{ elementals[$index] }}
				</th>

				<td mat-cell *matCellDef="let results">
					{{ results[races.indexOf(result)] }}
				</td>
			</ng-container>
		}

		<!-- Anuglar Table Initializors -->
		<tr
			mat-header-row
			*matHeaderRowDef="displayedColumns; sticky: true"
		></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
</div>
