<div class="filter-div">
	<mat-form-field class="filter">
		<mat-label>Filter</mat-label>
		<input
			matInput
			(keyup)="applyFilter($event)"
			placeholder="Ex. Miracle Punch"
			#input
		/>
	</mat-form-field>
</div>
<div class="table-div">
	<table
		mat-table
		[dataSource]="skillSource"
		class="mat-elevation-z12"
		matSort
	>
		<ng-container matColumnDef="Element">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Element</th>
			<td mat-cell *matCellDef="let skill">
				<img src="assets/img/icons/persona/{{ skill.element }}.png" />
			</td>
		</ng-container>

		<ng-container matColumnDef="Name">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
			<td mat-cell *matCellDef="let skill">{{ skill.name }}</td>
		</ng-container>

		<ng-container matColumnDef="Cost">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Cost</th>
			<td mat-cell *matCellDef="let skill">{{ skill.cost }}</td>
		</ng-container>

		<ng-container matColumnDef="Effect">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Effect</th>
			<td mat-cell *matCellDef="let skill">{{ skill.effect }}</td>
		</ng-container>
		<ng-container matColumnDef="learnedBy">
			<th mat-header-cell *matHeaderCellDef>Learned By</th>
			<td mat-cell *matCellDef="let skill">
				@for (demon of skill.learnedBy; track $index) {
					{{ demon.key }}({{ demon.value }})
				}
			</td>
		</ng-container>
		<ng-container matColumnDef="skillCard">
			<th mat-header-cell *matHeaderCellDef>Skill Card</th>
			<td mat-cell *matCellDef="let skill">
				<ng-container *ngIf="skill.card">
					{{ skill.card }}
				</ng-container>
			</td>
		</ng-container>

		<tr
			mat-header-row
			*matHeaderRowDef="tableConfig.skillCols; sticky: true"
		></tr>
		<tr mat-row *matRowDef="let row; columns: tableConfig.skillCols"></tr>
	</table>
</div>
