@use 'smt-tools.scss';

.filter-div {
	@include smt-tools.angular-table-filter;
}
.table-div {
	@include smt-tools.angular-table;
}
.expansion-panel {
	@include smt-tools.expansion-panel;
	padding: 0;
	margin: 0;
}

.grid-wrapper {
	display: grid;
	grid-gap: 1vw;
	grid-template-columns: auto auto;
	width: 100%;
	justify-content: center;
}
