<!-- bar for navigating between different tools specific to a gameName -->
<table id="navRow" class="game-wrapper-table">
	<thead>
		<tr class="game-wrapper-row">
			<!-- Persona/Demon Link -->
			<th
				class="game-wrapper-entry"
				routerLinkActive="active"
				[routerLinkActiveOptions]="{ exact: true }"
			>
				<a
					routerLink="{{ gameView.mainList }}s"
					[ngStyle]="{ color: gameView.colors.text }"
				>
					{{
						gameView.mainList.charAt(0).toUpperCase() +
							gameView.mainList.slice(1)
					}}
					List
				</a>
			</th>
			<!-- Skill Link -->
			<th class="game-wrapper-entry" routerLinkActive="active">
				<a
					routerLink="skills"
					[ngStyle]="{ color: gameView.colors.text }"
				>
					Skill List
				</a>
			</th>
			<!-- Fusion Table Link -->
			<th class="game-wrapper-entry" routerLinkActive="active">
				<a
					routerLink="fusion-table"
					[ngStyle]="{ color: gameView.colors.text }"
				>
					Fusion Table
				</a>
			</th>
			<!-- All other links -->
			<th
				class="game-wrapper-entry"
				*ngFor="let link of gameView.otherLinks"
				routerLinkActive="active"
			>
				<a
					routerLink="{{ link.url }}"
					[ngStyle]="{ color: gameView.colors.text }"
				>
					{{ link.title }}
				</a>
			</th>
		</tr>
	</thead>
</table>
