// --Styles for P5 Module--

// --General Styling
@mixin paragraph {
	:host ::ng-deep p {
		font-family: 'p5-hatty';
		font-size: 16pt;
		padding: 0;
		margin: 0;
	}
}
@mixin expansion-panel {
	:host ::ng-deep .expansion-panel {
		background-color: black;
		border-radius: 3px;
		border: 3px solid white;
	}
}
@mixin form-field {
	:host ::ng-deep .filter {
		color: black;
		border: 3px solid white;
		background: black;
	}
}
@mixin label {
	:host ::ng-deep .label {
		color: white;
		font-family: 'p5-hatty';
		font-size: 24pt;
	}
	:host ::ng-deep .mat-mdc-text-field-wrapper {
		--mdc-filled-text-field-container-color: black;
	}
}
// --Table Styling--
@mixin table {
	:host ::ng-deep table {
		background-color: black;
		border-radius: 3px;
		border: 3px solid white;
	}
}
@mixin race-cell {
	:host ::ng-deep .race-cell {
		text-align: center;
		padding-left: 0px;
		margin-left: 0px;
		font-size: 18pt;
		p {
			font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
				sans-serif;
			color: black;
			letter-spacing: -1px;
			font-weight: 900;

			transform: scale(0.7, 1.5);
			border-radius: 3px;
			background: white;
			padding: 2px;
			margin: 0;
		}
	}
}
@mixin level-cell {
	:host ::ng-deep .level-cell {
		padding-top: 1%;
		p {
			font-weight: 900;
			color: white;
		}
	}
}
@mixin name-cell {
	:host ::ng-deep .name-cell {
		text-align: left;
		p {
			font-weight: 500;
			color: white;
		}
	}
}
@mixin header-cell {
	:host ::ng-deep .header-cell {
		font-family: 'p5-hatty';
		font-size: 20pt;
		font-weight: 900;
		font-style: italic;
	}
}

//global mixin that can be called for every p5 component
@mixin style {
	@include paragraph;
	@include expansion-panel;
	@include form-field;
	@include label;
	@include table;
	@include race-cell;
	@include level-cell;
	@include name-cell;
	@include header-cell;
}
