// --Styles for P5 Module--

// --General Styling
:host ::ng-deep p {
	font-family: 'p5-hatty';
	font-size: 16pt;
}
:host ::ng-deep .mat-mdc-text-field-wrapper {
	--mdc-filled-text-field-container-color: black;
	--mat-form-field-container-text-font: 'p5-hatty';
}
:host ::ng-deep .expansion-panel {
	background-color: black;
	border-radius: 3px;
	border: 3px solid white;
}
:host ::ng-deep .filter {
	color: black;
	border: 3px solid white;
	background: black;
	mat-label {
		color: white;
		font-family: 'p5-hatty';
		font-size: 24pt;
	}
}
// --Table Styling--
:host ::ng-deep table {
	background-color: black;
	border-radius: 3px;
	border: 3px solid white;
}
:host ::ng-deep .race-cell {
	text-align: center;
	padding-left: 0px;
	margin-left: 0px;
	font-size: 18pt;
	p {
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		color: black;
		letter-spacing: -1px;
		font-weight: 900;

		transform: scale(0.7, 1.5);
		border-radius: 3px;
		background: white;
		padding: 2px;
		margin: 0;
	}
}
:host ::ng-deep .level-cell {
	padding-top: 1%;
	p {
		font-weight: 900;
		color: white;
	}
}
:host ::ng-deep .name-cell {
	text-align: left;
	p {
		font-weight: 500;
		color: white;
	}
}
:host ::ng-deep .header-cell {
	font-family: 'p5-hatty';
	font-size: 20pt;
	font-weight: 900;
	font-style: italic;
}

// --Demon Builder Styling--
// --User Entry--
:host ::ng-deep .form-div {
	border: 3px solid white;
	background: black;
}
:host ::ng-deep .name-form-field,
:host ::ng-deep .level-form-field,
:host ::ng-deep .skill-form-field,
:host ::ng-deep .recur-form-field {
	background: black;
	mat-label {
		color: white;
		font-family: 'p5-hatty';
		font-size: 24pt;
	}
}
:host ::ng-deep .mat-mdc-text-field-wrapper {
	--mdc-filled-text-field-container-color: black;
}
:host ::ng-deep .builder-button {
	border: 3px solid white;
	background: black;
}
// --Results Table--
:host ::ng-deep .results-div {
	border: 3px solid white;
	background: black;
}
:host ::ng-deep .directions-div {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-style: italic;
	.demon-link {
		font-style: normal;
		color: white;
		text-decoration: underline;
	}
	.result-emphasis {
		font-style: normal;
		font-weight: 700;
	}
	.step-number {
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
	}
}
// --Demon Entry Styling--
.demon-entry-div {
	background-image: url('/assets/img/games/p5/demon-entry-frame.svg');
	width: 100vw;
	height: 80vh;
	p {
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	}
}
.race-div {
	p {
		font-family: 'helvetica-now-display';
		font-style: italic;
		color: black;
		letter-spacing: -1px;
		font-weight: 1000;
		font-size: 5em;

		-webkit-text-stroke: 10px #008ce5;
		paint-order: stroke fill;

		transform-origin: left top;
		transform: rotate(-8deg) scale(0.6, 1.4);
		padding: 2px;
		margin: 0;
	}
	display: inline;
	position: relative;
	top: 19%;
	left: 8%;
}
.name-div {
	p {
		font-family: 'optima-nova-black';
		font-size: 4em;
		transform-origin: left top;
		transform: rotate(-8deg);
	}
	display: inline;
	position: relative;
	top: 11%;
	left: 22%;
}
.level-div {
	p {
		font-size: 3em;
		font-family: 'optima-nova-black';
		transform-origin: left top;
		transform: rotate(-8deg);
	}
	.level-header {
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		transform: scale(0.7, 1.5);
		font-weight: 900;
		letter-spacing: -1px;
		color: #808080;
	}
	display: inline;
	position: relative;
	top: 15.5%;
	left: 20%;
}
.resist-div {
	position: relative;
	top: 20%;
	left: 20%;
	p {
		font-family: 'helvetica-now-display';
		font-weight: 900;
		font-style: italic;
	}
}
.affinities-div {
	position: relative;
	top: -15vh;
	left: 60vw;
}
.skills-div {
	position: relative;
	display: flex;
	flex-direction: row;
	top: 18%;
	left: 1%;
	max-width: 48%;
	table {
		text-align: center;
	}
	p {
		font-family: 'optima-nova-black';
		font-weight: 900;
		letter-spacing: -1px;
	}
}
.stats-div {
	position: relative;
	display: flex;
	flex-direction: row;
	top: -12%;
	left: 50%;
	transform-origin: left top;
	transform: rotate(-5deg);
	p {
		font-family: 'helvetica-now-display';
		font-weight: 900;
		font-size: 5vh;
		font-style: italic;
		padding-bottom: 2vh;
		color: black;
	}
	.stat-label {
		p {
			transform: scale(0.7, 1.3);
		}
		#ma-label {
			padding-left: 1vw;
		}
		#ag-label {
			padding-left: 1vw;
		}
	}
	.stat {
		text-align: right;
		.leading-zero {
			color: #e6e6e6;
		}
	}
}
.inherits-div {
}
.inherit-div {
}
