// --Styles for P5 Module--

// --General Styling
:host ::ng-deep p {
	font-family: 'p5-hatty';
	font-size: 16pt;
	padding: 0;
	margin: 0;
}
:host ::ng-deep .expansion-panel {
	background-color: black;
	border-radius: 3px;
	border: 3px solid white;
}
:host ::ng-deep .filter {
	color: black;
	border: 3px solid white;
	background: black;
	mat-label {
		color: white;
		font-family: 'p5-hatty';
		font-size: 24pt;
	}
}
:host ::ng-deep .mat-mdc-text-field-wrapper {
	--mdc-filled-text-field-container-color: black;
	--mat-form-field-container-text-font: 'p5-hatty';
}
// --Table Styling--
:host ::ng-deep table {
	background-color: black;
	border-radius: 3px;
	border: 3px solid white;
}
:host ::ng-deep .race-cell {
	text-align: center;
	padding-left: 0px;
	margin-left: 0px;
	font-size: 18pt;
	p {
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		color: black;
		letter-spacing: -1px;
		font-weight: 900;

		transform: scale(0.7, 1.5);
		border-radius: 3px;
		background: white;
		padding: 2px;
		margin: 0;
	}
}
:host ::ng-deep .level-cell {
	padding-top: 1%;
	p {
		font-weight: 900;
		color: white;
	}
}
:host ::ng-deep .name-cell {
	text-align: left;
	p {
		font-weight: 500;
		color: white;
	}
}
:host ::ng-deep .header-cell {
	font-family: 'p5-hatty';
	font-size: 20pt;
	font-weight: 900;
	font-style: italic;
}

// --Demon Builder Styling--
// --User Entry--
:host ::ng-deep .form-div {
	border: 3px solid white;
	background: black;
}
:host ::ng-deep .name-form-field,
:host ::ng-deep .level-form-field,
:host ::ng-deep .skill-form-field,
:host ::ng-deep .recur-form-field {
	background: black;
	mat-label {
		color: white;
		font-family: 'p5-hatty';
		font-size: 24pt;
	}
}
:host ::ng-deep .mat-mdc-text-field-wrapper {
	--mdc-filled-text-field-container-color: black;
}
:host ::ng-deep .builder-button {
	border: 3px solid white;
	background: black;
}
// --Results Table--
:host ::ng-deep .results-div {
	border: 3px solid white;
	background: black;
}
:host ::ng-deep .directions-div {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-style: italic;
	.demon-link {
		font-style: normal;
		color: white;
		text-decoration: underline;
	}
	.result-emphasis {
		font-style: normal;
		font-weight: 700;
	}
	.step-number {
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
	}
}

// --Demon Entry Styling--
.demon-entry-div {
	background-image: url('/assets/img/games/p5/demon-entry-frame.svg');
	width: 100vw;
	height: 82vh;
}
